In [2]:
# 1 answer
# in for loop
#  for loop is used for iterating over a sequence (if it is either list,tuple,a dictonary or string)
# example
name=['diwakar','rahul','raushan']
for i in name:
    print(i)

diwakar
rahul
raushan

In [3]:
# 1 answer
# for while loop
# in while loop we have to provide condition before execution
# example
count =0
while (count<3):
    count=count+1
    print("Diwakar")

Diwakar
Diwakar
Diwakar

In [13]:
#2 answer
# using while loop
add = 0
product = 1
counter= 1

while counter <= 10:
    add += counter
    product *= counter
    counter += 1

print( add)
print( product)

55
3628800

In [14]:
#2 answer
# using for loop
add = 0
product = 1

for i in range(1, 11):
    add += i
    product *= i

print(add)
print(product)

55
3628800

In [15]:
# 3 answer
# electricity Bill
units=int(input("enter the units"))
if units<=100:
    payamount=units*4.5
elif units<=200:
    payamount=100*4.5+units-100*6
elif units<=300:
    payamount=100*4.5+200-100*6+units-200*10
elif units>300:
    payamount=(100*4.5)+(200-100)*6+(300-200)*10+(units-300)*20
print('bill',payamount)

enter the units 310

bill 2250.0

In [18]:
#4 answer
# cube of 100 number
# using for loop
numbers =[]
divisible = []

for i in range(1, 101):
    numbers.append(i)
    cube = i ** 3
    if cube % 4 == 0 or cube % 5 == 0:
         divisible.append(cube)

print( divisible)

[8, 64, 125, 216, 512, 1000, 1728, 2744, 3375, 4096, 5832, 8000, 10648, 13824, 15625, 17576, 21952, 27000, 32768, 39304, 42875, 46656, 54872, 64000, 74088, 85184, 91125, 97336, 110592, 125000, 140608, 157464, 166375, 175616, 195112, 216000, 238328, 262144, 274625, 287496, 314432, 343000, 373248, 405224, 421875, 438976, 474552, 512000, 551368, 592704, 614125, 636056, 681472, 729000, 778688, 830584, 857375, 884736, 941192, 1000000]

In [19]:
#4 answer
# cube of 100 number
# using for loop
numbers = []
divisible = []
i = 1

while i <= 100:
    numbers.append(i)
    cube = i ** 3
    if cube % 4 == 0 or cube % 5 == 0:
         divisible.append(cube)
    i += 1

print( divisible)

[8, 64, 125, 216, 512, 1000, 1728, 2744, 3375, 4096, 5832, 8000, 10648, 13824, 15625, 17576, 21952, 27000, 32768, 39304, 42875, 46656, 54872, 64000, 74088, 85184, 91125, 97336, 110592, 125000, 140608, 157464, 166375, 175616, 195112, 216000, 238328, 262144, 274625, 287496, 314432, 343000, 373248, 405224, 421875, 438976, 474552, 512000, 551368, 592704, 614125, 636056, 681472, 729000, 778688, 830584, 857375, 884736, 941192, 1000000]

In [5]:
#5 answer
# filter vowel
string = "I want to become a data scientist"
vowels = "aeiouAEIOU"
counter = 0

for char in string:
    if char in vowels:
        counter += 1

print('type',counter)

type 12